<div class="contenedor-info">

  <div class="texto-confirmacion texto">
    ¿Seguro que deseas borrar este repuesto?
  </div>

  <div class="enlaces-inferiores-around">
    <a class="link-nav texto" href="/pintarRepuestos">No</a>
    <a class="link-rojo texto" href="/borrarRepuesto">Sí</a>
  </div>

</div>