/************ Reset css. ***************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************ Estilos generales del documento. **************/

html {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contenedor-principal {
  display: flex;
  justify-content: center;
}

.contenedor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  max-width: 1200px;
}

@media (min-width: 758px){
  .contenedor-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    width: 90vw;
    max-width: 1200px;
  }
}

@media (max-width: 757px){
  .contenedor-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    width: 98vw;
    max-width: 1200px;
  }
}

a {
  text-decoration: none;
}

@media (min-width: 758px){
  .texto {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

@media (min-width: 481px) and (max-width: 757px){
  .texto {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

@media (max-width: 480px){
  .texto {
    font-size: 1rem;
    line-height: 1.8rem;
  }
}

/****************** Navegación. ********************/

nav {
  display: flex;
  align-items: center;
  background-color: rgb(19, 19, 126);
}

@media (min-width: 961px){
  nav {
    justify-content: flex-end;
    padding: 2.7rem 4rem;
  }
}

@media (min-width: 481px) and (max-width: 960px){
  nav {
    justify-content: space-between;
    padding: 2.5rem 3rem;
  }
}

@media (max-width: 480px){
  nav {
    justify-content: space-between;
    padding: 2rem 1rem;
  }
}

.link-nav {
  color: rgb(52, 52, 187);
  font-weight: bold;
}

@media (min-width: 961px){
  .link-nav {
    background: white;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 4px solid rgb(96, 105, 230);
  }
}

@media (min-width: 401px) and (max-width: 960px){
  .link-nav {
    text-align: center;
    padding: 0.2rem;
  }
}

@media (max-width: 400px){
  .link-nav {
    text-align: center;
    padding: 0.2rem;
    max-width: 10rem;
  }
}

.link-barra {
  font-weight: bold;
}

@media (min-width: 961px){
  .link-barra {
    color: rgb(52, 52, 187);
    background: white;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 4px solid rgb(96, 105, 230);
  }
}

@media (max-width: 960px){
  .link-barra {
    color: rgb(197, 197, 214);
    text-align: center;
    padding: 0.2rem;
  }
}

.link-rojo {
  color: rgb(218, 25, 25);
  font-weight: bold;
}

@media (min-width: 961px){
  .link-rojo {
    background: white;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 4px solid rgb(218, 25, 25);
    font-weight: bold;
  }
}

@media (max-width: 960px){
  .link-rojo {
    text-align: center;
    padding: 0.2rem;
  }
}

@media (min-width: 758px){
  .link-con-margen {
    margin-left: 4rem;
  }
}

.enlaces-superiores-between {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.enlaces-superiores-center {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.enlaces-intermedios-between {
  margin-top: 20rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.enlaces-inferiores-around {
  margin-top: 5rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.link-consulta-actualizacion {
  color: rgb(34, 43, 165);
}

.link-borrado {
  color: red;
}

/****************** Formularios. *******************/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-corto {
  margin-top: 7rem;
}

.formulario-extenso {
  margin-top: 3rem;
}

.formulario-extenso-enlace {
  margin-top: 1rem;
}

select {
  width: 15rem;
}

.input {
  padding: 0.2rem;
  margin-top: 1rem;
}

.input-extenso {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 45rem;
  padding: 0.5rem;
}

.label-mas-separado {
  margin-top: 3rem;
}

textarea {
  margin-top: 1rem;
  width: 95%;
}

.boton {
  padding: 0.5rem;
  margin-top: 4rem;
}

.mensaje-error {
  margin-top: 3rem;
  color: red;
}

.linea-checkbox {
  display: flex;
  justify-content: left;
}

/****************** Confirmación. ******************/

.texto-intermedio {
  margin-top: 7rem;
}

.texto-confirmacion {
  margin-top: 15rem;
}

.texto-confirmacion-menos-espacio {
  margin-top: 2rem;
}

/******************* Tablas. *********************/

table {
  margin-top: 8rem;
}

caption {
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-left: 4px solid black;
  padding: 1rem 0;
  font-weight: bold;
}

td {
  border: 4px solid black;
  padding: 1rem 0;
}

.td-corto {
  width: 15rem;
  text-align: center;
}

.td-corto-izquierda {
  width: 15rem;
  padding-left: 1.5rem;
}

.td-medio {
  width: 20rem;
  text-align: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.td-medio-left {
  width: 20rem;
  text-align: left;
  padding-right: 1rem;
  padding-left: 1rem;
}

.td-extenso {
  width: 25rem;
  text-align: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.td-largo {
  width: 50rem;
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.td-largo-center {
  width: 50rem;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
