<div class="contenedor-info">

  <div class="texto-confirmacion texto">
    ¿Seguro que deseas borrar este vehículo?
  </div>

  <div class="enlaces-inferiores-around">
    <a class="link-nav texto" href="/pintarVehiculo">No</a>
    <a class="link-rojo texto" href="/borrarVehiculo">Sí</a>
  </div>

</div>