<div class="contenedor-info">

  <div class="texto-confirmacion texto">
    ¿Seguro que deseas borrar esta tarea preventiva?
  </div>

  <div class="enlaces-inferiores-around">
    <a class="link-nav texto" href="/pintarPreventiva">No</a>
    <a class="link-rojo texto" href="/borrarPreventiva">Sí</a>
  </div>

</div>