<div class="contenedor-info">

  <div class="texto-confirmacion texto">
    ¿Seguro que deseas borrar esta tarea correctiva?
  </div>

  <div class="enlaces-inferiores-around">
    <a class="link-nav texto" href="/pintarCorrectiva">No</a>
    <a class="link-rojo texto" href="/borrarCorrectiva">Sí</a>
  </div>

</div>