<div class="contenedor-info">

  <div class="enlaces-superiores-center">
    <a href="/tipoPreventiva" class="link-nav texto">Seleccionar periodicidad</a>
  </div>

  <form action="/nuevaPreventiva" method="POST" class="formulario-extenso">

    <label for="subtareas" class="texto label-mas-separado">SUBTAREAS:</label>

    <div>
      {{#each preventivas}}
      <div class="linea-checkbox texto input">
        <input type="checkbox" name="subtareas" value="{{descripcion}}">{{descripcion}}<br>
      </div>
      {{/each}}
    </div>

    <label for="fecha" class="texto label-mas-separado">Fecha:</label>
    <input type="text" name="fecha" value="" placeholder="0000-00-00" class="texto input">

    <label for="kilometros" class="texto label-mas-separado">Kilómetros:</label>
    <input type="text" name="kilometros" value="" class="texto input">

    <label for="observaciones" class="texto label-mas-separado">Observaciones (opcional):</label>
    <textarea rows="4" cols="60" name="observaciones" type="text" class="texto"></textarea>

    <input type="submit" value="Añadir nueva preventiva" class="texto boton">

    {{#if message}}
    <div class="texto mensaje-error">{{message}}</div>
    {{/if}}

  </form>

</div>