<div class="contenedor-info">

  <div class="enlaces-superiores-center">
    <a href="/pintarTareas" class="link-nav texto">Volver a tareas</a>
  </div>

  <p class="texto texto-intermedio">¿Qué tipo de tarea deseas abrir?</p>

  <div class="enlaces-inferiores-around">
    <a href="/nuevaCorrectiva" class="link-nav texto">Correctiva</a>
    <a href="/tipoPreventiva" class="link-nav texto">Preventiva</a>
  </div>

</div>