<div class="contenedor-info">

  <p class="texto texto-confirmacion">¿Seguro que quieres eliminar el ingreso actual del vehículo {{vehiculo.matricula}}?</p>
  <p class="texto texto-confirmacion-menos-espacio">Si confirmas se te devolverá a la vista con todos los ingresos de este vehículo.</p>

  <div class="enlaces-inferiores-around">
    <a href="/borrarIngreso" class="link-rojo texto">Sí</a>
    <a href="/pintarDetallesIngreso" class="link-nav texto">No</a>
  </div>

</div>