<div class="contenedor-info">

  <div class="enlaces-superiores-center">
    <a href="/pintarIngreso" class="link-nav texto">Volver al ingreso</a>
  </div>

  <p class="texto texto-confirmacion">El ingreso se ha actualizado y el vehículo {{vehiculo.matricula}} ahora figura como ingresado.</p>

</div>