<div class="contenedor-info">

  <div class="enlaces-superiores-center">
    <a href="/pintarIngreso" class="link-nav texto">Volver al ingreso</a>
  </div>

  <p class="texto texto-confirmacion">El ingreso del vehículo {{vehiculo.matricula}} se ha actualizado y cerrado.</p>

</div>